.t{
    text-align: center;
}

.p1{
    text-align: center;
}

.t2{
    margin-left:100px;
}


.p2{
    margin-left:100px;
}

.t3{
    margin-left:100px;
}
.t4{
    margin-left:100px;
}
.contenedor1{
    margin-left:100px;
}
.contenedor2{
    margin-left:100px;
}
.img1{
    margin-left:60px;
}
.img2{
    margin-left:60px;
}
.img3{
    margin-left:60px;
}
.img4{
    margin-left:60px;
}
.img5{
    margin-left:60px;
}
.img6{
    margin-left:60px;
}